* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    gap: 40px;
    background-color: #fff;}
h1,
p {
    color: #0c0c0c;
    /* font-size: 3em; */
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-size: clamp(24px, 5vw, 60px);
    margin-bottom: 30px;
}


#textArea {

    background-color: rgb(173, 216, 233);
    color: #080808;
    font-size: 1.5em;
    width: 100%;
    max-width: 650px;
    min-height: 150px;
    padding: 15px;
    box-sizing: border-box;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
}
.tes {
    text-align: center;
    padding: 0  30px;
}
#count {
    color: #c90606;
    font-weight: bold;
}